{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "nodenext",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "esnext",
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"]
    }
  },
  "sourceMaps": true,
  "minify": false
}
